.wizard{
  width: 700px;
  height: 600px;
  background: #fff;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -350px;
  margin-top: -300px;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0,0,0,.3);
}
.wizard-sidebar{
  width: 200px;
  height: 600px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #222e50;
}
.wizard-body{
  width: 517px;
  height: 617px;
  right: -17px;
  top: 0px;
  position: absolute;
  background-color: #fff;
  overflow: scroll;
  padding-bottom: 75px;
}
.wizard-step{
  background-color: #17446f;
  height: 30px;
  width: 85%;
  border: none;
  border-radius: 6px;
  margin-top: 18px;
  color: #19223c;
  padding: 4px;
  padding-top: 5px;
  padding-left: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all .2s;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}
.wizard-step.active {
    background-color: #2c80d0;
    color: #fff;
}
.wizard-section {
    padding: 15px;
    position: relative;
    float: left;
    width: 100%;
}
h4.section-title {
    font-size: 18px;
    font-weight: bold;
    color: #235789;
    margin-top: 5px;
}
.wizard-section::after {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 470px;
    margin-left: -235px;
    height: 4px;
    border-radius: 3px;
    background-color: #235789;
    content: "";
}
